<h1>Results Page</h1>

<%data["Search"].forEach(function(movie){%>
  <li>
    <strong>
      <%=movie["Title"]%>
    </strong>
    -
    <i>
      <%=movie["Year"]%>
    </i>
  </li>
<%});%>

<a href="/"> search again </a>
